set default=0
set timeout=0
insmod all_video
# it's a HelinOS boot file

menuentry "Helin OS" {
	multiboot /boot/grub/kernel.bin
	module /boot/init init
	module /boot/test test
	module /boot/mount mount
	module /boot/lo lo
	module /boot/hello.mod hello.mod
	module /boot/windowserver windowserver
	module /boot/init.sh init.sh
	boot
}
